@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

:root {

    --navbar_menu-text-color: #FEFDFC;
    --hover-focus-color: #2A8529;
    --black-background: #08090B;
    --black-background-alpha-5: rgba(0, 0, 0, .5);
    --max-content-width: 1200px;
}



* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    text-transform: lowercase;
}

a{text-decoration: none;}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--black-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-weight: 800;
    font-size: 1.12rem;
    padding: .2rem .5rem;
    border-radius: 2px;
    border: none;
}


/* navbar section  */
.navbar__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 1s;
    z-index: 100;
}

.navbar {

    margin: 0 auto;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--max-content-width);
    border-radius: 1rem;
}

.navbar--onscroll {
    background-color: var(--black-background);
}

.navbar--book {
    position: relative;
}
.navbar__logo {
    flex-grow: 1;
    margin: 0;

}

.navbar__logo img {
    max-width: 240px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}

.navbar__menu :is(a, a:visited) {
    color: var(--navbar_menu-text-color);
    text-decoration: none;
}

.navbar__menu a:hover {
    color: var(--hover-focus-color);
}

/* Hero section "Intro page width the logo" */

.hero {
    display: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/photos/09-night.jpg');
    background-size: cover;
    margin: 0;
}

.hero__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.hero__logo img {
    max-width: 240px;
}

.hero__arrow_icon {
    position: absolute;
    bottom: 20%;
    left: 50%;
    border: .1rem solid var(--navbar_menu-text-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    transition: .1s;
    margin: 0;
}

.hero__arrow_icon :is(a, a:visited) {
    font-size: 2rem;
    text-decoration: none;
    color: var(--navbar_menu-text-color);
}

.hero__arrow_icon:hover {
    transform: translate(-50%, -50%) scale(1.2);
}



/* main section/ content section  */
main {
    padding: 0 2rem;
    width: 100%;
}

.main__content {
    margin: 0 auto;
    /* background: #2A8529; */
    max-width: var(--max-content-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main__content_header {
    font-weight: 400;
    font-size: 3rem;
    color: var(--navbar_menu-text-color);
}


/* Booking section in the main page  */
.main__content_booking {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-image: url('../assets/photos/08-night.jpg');
    background-size: cover;
}

.main__content_booking_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--navbar_menu-text-color);
    flex: 1 0 50%;
    padding: 3rem;
    height: 41.8rem;
}

.main__content_booking_left_article {
    background: var(--black-background-alpha-5);
    padding: 3rem;
    min-height: 199px;
    max-width: 360px;
    margin: 1rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.main__content_booking_left_article p {
    font-size: 1.12rem;
    text-align: center;
    font-weight: 800;
}

.main__content_booking_left_article button {
    align-self: center;
}

.main__content_booking_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--navbar_menu-text-color);
    flex: 1 0 50%;
    padding: 3rem;
    height: 41.8rem;

}
/* booking date input form  */

.main__content_booking_right_form {
    background: var(--black-background-alpha-5);
    padding: 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 100%;
    text-align: center;
    font-weight: 700;
    
}

.main__content_booking_right_arrival_departure{
    display: flex;  
    align-items: space-between;
    gap: 40px;
}
.main__content_booking_right_arrival_departure  label{
    display: block;
    width:100%;

}
.main__content_booking_right_guests{
    align-self: flex-end;
}
#input_arrival,
#input_departure {
    height: 8.1rem;
    margin: 0;
}
#input_guests,
#input_arrival,
#input_departure{
    appearance: none;
    border: none;
    outline: none;
    width: 5rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    padding: .5rem 0;
    border-radius: 2px;

}



#input_guests::-webkit-inner-spin-button{
    display: none;
}
/* the package card section  */
.main__content_packages{
    width: 100%;
}
.main__content_packages_title{
    color: var(--navbar_menu-text-color);
    text-align: center;
    font-weight: 400;
    font-size: 2.25rem;
    margin:2.5rem ;
}
.main__content_packages_offercards{
    display: flex;
    justify-content: space-between;
}
.offercard{
    background-color: var(--navbar_menu-text-color);
    max-width: 15rem;
  
}
.offercard img{width: 100%; height:12.5rem; object-fit: cover;}
.offercard__content{padding: 1rem;}
.offercard__content_header{
    font-size: 1.12rem;
    text-align: center;
}
.offercard__content_text{
    font-size: .75rem;
}
.offercard__content_button{
    width: 100%;
    font-weight: 400;
    background: var(--black-background);
    color: var(--navbar_menu-text-color);
    padding: .5rem 0;
}

/* Jubmotron  */
.jumbotron{
    display: flex;
    padding: 2rem;
    gap: 2rem;
    margin-top: 5rem;
}
.jumbotron_img{
    max-width: 25rem;
}

.jumbotron_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.jumbotron__header{
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--navbar_menu-text-color);
}
.jumbotron__text{
    color: var(--navbar_menu-text-color);
}
.jumbotron__btn{
    margin-right: auto;
    padding: .2rem 2rem;
}

.main__content_jumbotron{
    background:linear-gradient(50deg, #0009, #0005),url('../assets/photos/09-night.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* text AD */

.main__content_text_ad{
    color: var(--navbar_menu-text-color);
    text-align: center;
    margin: 5rem;


}
.main__content_text_ad_header{
    font-size: 2.25rem;
}

/* The newsletter styling  */
.email_subscription{
    color: var(--navbar_menu-text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 3rem 0;
    background:linear-gradient(50deg, #0009, #0005),url('../assets/photos/09-night.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.email_subscription_input
{
  appearance: none;
  outline: none;
  border: none;
  padding: .2rem 1rem;
  height: 2rem;
  border-radius: 6px 0 0 6px;
  flex: 1;
  
}
.email_subscription_inputfield{
    display: flex;
    gap: .37rem;
    width:31.25rem;
}
.email_subscription_btn{
  appearance: none;
  outline: none;
  border: none;
  padding: .2rem 1rem;
  height: 2rem;
  border-radius:0 6px 6px 0;
  
}


/* The footer Section  */
footer{
    margin: 5rem 0;
    padding: 0 2rem;
    max-width: var(--max-content-width);
    width: 100%;
}

.footer__brand_carusel{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.footer__brand_carusel img{
    height: 3rem;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--navbar_menu-text-color);
    margin-bottom: 10rem;
}
.footer__info_social img{
    max-height: 2rem;
    filter: invert(1) brightness(150%);
    margin: 0 .2rem;
}

/* The booking page styling  */
.main__book{
    max-width: var(--max-content-width);
    background:linear-gradient(50deg, #0009, #0005), url('../assets/photos/09-night.jpg');
    background-size: cover;
    background-position: 70% center;
}
.main__book_header{
    text-align: center;
    font-weight: 400;

}
.main__book_input{
    width: 100%;
    background: #fff;
    background: url('../assets/photos/09-day.jpg');
    background-position: center 38%;
    background-size: 200%;
    background-repeat: no-repeat;
    min-height:6.25rem;
    display: flex;
    justify-content: flex-end;
}
.main__book_inputfields{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
    margin: .4rem 0;
}

.main__book_inputfield{
    max-width: 70px;
    text-align: center;
    margin: .2rem 1rem;
}

.main__book_inputfield::-webkit-inner-spin-button{
    appearance: none;

}
.main__book_input_label{
    display: block;
    text-align: center;
    font-weight: 800;
}
.book__card__img{
    width: 100%;
    max-width: 300px;
}
.main__book_cards{
    display: flex;
    flex-direction: column;

    margin: 3rem 0;
}

.book__card{
    display: flex;
    background: var(--navbar_menu-text-color);
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    
}
.book__card__text{
    margin: 0 1rem;
}
.book__card__price{
    justify-self: flex-end ;
    margin-left: auto;
    text-align: right;

}
.book__card__price p{
    border: .1rem solid var(--hover-focus-color);
    display: table;
    padding:.2rem 1rem;
    font-size: 1.25rem;
    margin-left: auto;
}
.book__card__price button{
    background-color: var(--black-background);
    color: var(--navbar_menu-text-color);
    padding:.4rem 3rem;
    font-size: 1.12rem;
}


/* about page styling  */
.about__page{
    background:linear-gradient(50deg, #0009, #0009), url('../assets/photos/09-night.jpg');
    background-size:cover ;
}
.about__content{
    max-width: 960px;
    margin: 0 auto;
}
/* Gallery Section  */

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.gallery__selected_image{
    width: 100%;
}
.gallery__thumbnails{
    display: flex;
    gap: 1rem;
    margin: 1rem auto;

}
.gallery__thumbnails > img{
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
}

/* about page / Article Section  */

.article__sideimage_fullwidth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.article__sideimage_fullwidth__body{
    display: flex;
    margin: 3rem 0;
    margin-bottom: 10rem;
    gap: 2rem;
    align-items: stretch;
}
.article__sideimage_fullwidth__image{
   width: 100%;
   max-width: 16rem;
   object-fit: cover;
   object-position: left bottom;
   flex: 1;
}
.article__sideimage_fullwidth__text{
    flex: 3;
    margin: 0;
    break-inside: auto;
    color: var(--navbar_menu-text-color);
    white-space: pre-line;
    font-size: 1.4rem;
    line-height: 1.9rem;
}




@media only screen and (max-width:1024px) {

    .jumbotron{
        flex-wrap: wrap;
        justify-content: center;
    }
    .jumbotron_img{
        width:  100%;
        max-width: unset;
        margin: 0;
        max-height: 10rem;
        object-fit: cover;
    }

    .footer__brand_carusel{
        margin: 5rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
    .footer__brand_carusel img{
        height: 2rem;
    }

    .footer__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .main__content_packages_offercards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}

@media only screen and (max-width:768px) {
   
   main{
    padding: 0;
   }
   
   .main__content{
    padding: 0 1rem;
   }
    .navbar {
        flex-wrap: wrap;
    }
    
    .main__content_booking {
        display: block;
        width: 100%;
        margin: 0;
        background-position: center;
    }


    .main__content_booking_left {
        margin: 0;
        padding:0;
        height: auto;
    }

    .main__content_booking_left_article {
        padding: 3rem;
        margin: 1rem;
        min-height: unset;
        max-width: unset;
        width: 100%;
    }

    .main__content_booking_right{
        margin: 0;
        padding:0;
        height: auto;
    }
    .main__content_booking_right_form{
        padding: 3rem;
        margin: 1rem;
        min-height: unset;
        max-width: unset;
        width: 100%;
        
    }


    .main__content_header{
        font-size:2rem;
        text-align: center;
    }

    .offercard{
        max-width: unset;
    }

    .email_subscription_inputfield{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        
    
    }
    .email_subscription_input{
        border-radius: 6px;
        padding: 1rem;
    }

    .email_subscription_btn{
        border-radius: 6px;
        
    }
  
    /* .navbar__wrapper {
        position: relative;
        top: 0;
        width: 100%;
        transition: 1s;
        z-index: 100;
    }
     */
    .navbar {
    
        margin: 0 auto;
        padding: .5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: var(--max-content-width);
        border-radius: 1rem;
    }

    .navbar__logo{
        margin: 0 auto;
    }

    .navbar__menu{
        margin:1rem 0;
        padding: 0;
    }
 
/* booking date input form  */

.main__content_booking_right_form {
   padding: 1rem;
   margin: 0;
   align-items: center;
 
}
.main__content_booking_right_form :is(button, .main__content_booking_right_arrival_departure,.main__content_booking_right_guests){
    margin: 2rem;
}
.main__content_booking_right_arrival_departure{
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.main__content_booking_right_guests{
    align-self: unset;
    width: 70%;
}

#input_guests,
#input_arrival,
#input_departure{
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    padding: .5rem 0;
    border-radius: 2px;

}



#input_guests::-webkit-inner-spin-button{
    display: none;
}




/* about page styling  */
.about__page{
    background:linear-gradient(50deg, #0009, #0009), url('../assets/photos/09-night.jpg');
    background-size:cover ;
    background-position: right center ;
    padding: 1rem;
}
.about__content{
    max-width: 960px;
    margin: 0 auto;
}
/* Gallery Section  */
.gallery__thumbnails{
    flex-wrap: wrap;

}
.gallery__thumbnails > img{
    width: 4.25rem;
    height: 4.25rem;
}

/* about page / Article Section  */
.article__sideimage_fullwidth__body{
    flex-direction: column;
    z-index: 1;
    position: relative;
}
.article__sideimage_fullwidth__image{
    width: 100%;
    max-width: unset;
    max-height: 10rem;

}
.article__sideimage_fullwidth__text{
    font-size: 1rem;
}
.article__sideimage_fullwidth {
    margin: 5rem 0;
}
.article__sideimage_fullwidth > aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.main__book_input{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main__book_inputfields{
    flex-wrap: wrap;
    padding: 0;
}

.book__card{
    flex-direction: column;
    justify-content: center;
}

.book__card__img{
    max-width: unset;
}

.main_content{
    padding: 1rem;
}
}

